{% extends 'manon_base.html' %}

{% block content %}
  <div class="about_content">
    <div class="about_block">
      <div class="about_col w-row h-100">
        <div class="column-6 w-col w-col-6">
          <div class="about_image h-100">
            <img src="/static/image/manon.jpg" loading="lazy" alt="" class="image-8" />
          </div>
        </div>
        
     
        <div class="column-6 w-col w-col-6 h-100">
          <div class="about_image h-100">
            <div id="w-node-_47ddf58d-830f-9c1b-e825-4bc019a1edad-bf80d327" class="about_text_block h-100">
              <div class="p-2 h-100">
                <h1 class="heading-2">About me<span class="about_me_icon"></span></h1>
                <p class="about_me_pragraph">
                  Greetings! I'm  Manon <span class="name">Ahmed</span>, a creative Graphic designer. My heart has always been captivated by the world of design, and over time, I have amassed a diverse array of experiences within this dynamic industry. Design, to me, embodies an irresistible charm, embracing everyone and everything. The thrill of problem-solving through thoughtful design solutions is an unparalleled joy in my life.
                </p>
              </div>
            </div>
          </div>
        </div>
     
        <!--
        <div class="w-col w-col-6">
          <div class="education">
            <h5 class="heading-3">EDUCATION</h5><h6 class="heading-4">2014 - 2016</h6><h6 class="heading-5">Graphic Design BFA @ California College of the Arts, <em>San Francisco, CA</em></h6><h6 class="heading-4">2010 - 2012</h6><h6 class="heading-5">Associates Degree of Art @ Edmonds Community College, <em>Lynnwood, WA</em></h6>
          </div>
          <div class="experience">
            <h5 class="heading-3">EXPERIENCE</h5><div id="ex_wrap" class="exp_wrap">
              <h6 class="heading-4">2019 May - Present</h6><h6 class="heading-5">Graphic Designer @ John McNeil Studio, <em>Berkeley, CA</em></h6><p class="paragraph-2">Producing a wide range of designs including logos, icons, banners, ebooks, video storyboards, infographics, websites, app layouts, and retouched photos for clients.</p>
            </div>
            <div id="ex_wrap" class="exp_wrap">
              <h6 class="heading-4">2017 February - 2019 May</h6><h6 class="heading-5">Graphic Design Intern &nbsp;@ Madeleine Corson Design, &nbsp;<em>San Francisco, CA</em></h6><p class="paragraph-2">Designed logos, icons, and patterns used for the wine labels and publications. Handled regular office duties and created supporting materials such as mockups and retouched photos for presentation.</p>
            </div>
            <div id="ex_wrap" class="exp_wrap">
              <h6 class="heading-4">2016 July - August</h6><h6 class="heading-5">Graphic Design Intern @ Ineffable Music Group,<em>Emeryville, CA</em></h6><p class="paragraph-2">Responsible for designing different promotional materials including T-shirts, socks, caps, album covers, logos, mood boards, and mockups.</p>
            </div>
            <div id="ex_wrap" class="exp_wrap">
              <h6 class="heading-4">2015 June - September</h6><h6 class="heading-5">Marketing Assistance @ July System, <em>Millbrae, CA</em></h6><p class="paragraph-2">Created mockups, banners, and prototypes for the app design team to present to the customers.</p>
            </div>
          </div>
          <div class="education">
            <h5 class="heading-3">SKILLS</h5><h6 class="heading-4">Adobe Creative Suite:</h6><h6 class="heading-5">Illustrator / Photoshop / InDesign / Aftereffects</h6><h6 class="heading-4">Microsoft Office:</h6><h6 class="heading-5">Word / PowerPoint / Excel</h6><h6 class="heading-4">Others:</h6><h6 class="heading-5">Keynote &nbsp;/ Sketch / &nbsp;Figma / Google Slide / &nbsp;Letterpress / &nbsp;HTML / &nbsp;CSS</h6>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>

{% endblock %}
